<%= form_with(model: taskdetail, local: true) do |form| %>
  <% if taskdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taskdetail.errors.count, "error") %> prohibited this taskdetail from being saved:</h2>

      <ul>
      <% taskdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
