<div class="authform">
<%= form_with(model: taskdetail, local: true) do |form| %>
  <% if taskdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taskdetail.errors.count, "error") %> prohibited this taskdetail from being saved:</h2>

      <ul>
      <% taskdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name ,class: "form-control"%>
  </div>

 <!--  <div class="form-group">
    <%= form.label :project_id %>
    <%= form.number_field :project_id ,class: "form-control" %>
  </div> -->


   

 <div class="form-group">
    <%= form.label :days %>
    <%= form.number_field :days ,class: "form-control"%>
  </div>
   <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :project_list %>
   <%= collection_select( :project, :prjname ,Project.all, :id, :prjname, { :multiple => false} ) %>
  </div>
  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
</div>
