<!-- <h1>Project Management System</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- <% if current_user %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<% end %>-->



<% if user_signed_in? %>

<h2>To a page confirmation signin message</h2>
 <h6>Thank you!You have successfully logged in </h6>
  
<% else %>
  <h3>Welcome to Project Management System</h3>
  
 <!--  <%= link_to 'Sign up', new_user_registration_path, class: 'btn button-primary btn-large' %> -->
<% end %>

<%- if current_user.otp_required_for_login %>
  <%= link_to("Deactivate two factor", deactivate_two_factor_index_path) %>
<% else %>
  <%= link_to("Activate two factor", activate_two_factor_index_path) %>
<% end %>