<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prjname %>
    <%= form.text_field :prjname %>
  </div>

  <div class="field">
    <%= form.label :prjtype %>
    <%= form.text_field :prjtype %>
  </div>

  <div class="field">
    <%= form.label :team_members %>
    <%= form.number_field :team_members %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :technology %>
    <%= form.text_field :technology %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
